@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 400;
  src: url('./Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('./Roboto-Regular.ttf');
}
